body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.sheikh{
    color: orange;
} 
section{
    display: flex;
    margin-bottom: 40px;
}
.half{
    width: 50%;
    padding: 5%;
}
.half img{
    width: 80%;
    height: 80%;
    border-radius: 20%;
    border: solid 2px tomato ;
}
.hireme{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    color: whitesmoke;
    padding: 10px 30px;
    border-radius: 10% ;
    font-weight: 700;
}
.top{
    background-image: url(picture/top-banner.png);
    background-repeat: no-repeat;
    
}

.second-half{
    width: 50%;
    padding: 5%;
    padding-right: 50px;
}
.second-half img{
    width: 80%;
    height: 80%;
    border-radius: 20%;
    border: dashed 2px green;
}
.contact{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: whitesmoke;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 700;
}
.dream-big{
    background-image: url(picture/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}